<%
  import_component 'Children', path: 'helpers/child'
%>

<div class="parent">
  <div class="date">
    <%= h.l(Date.new(2019, 01, 03)) %>
  </div>

  <div class="routes">
    <%= h.users_path %>
  </div>

  <div class="translation">
    <%= h.t('hello')%>
  </div>
</div>

<%= Children() %>
