<div class="child">
  <div class="date">
    <%= view.l(Date.new(2019, 01, 03)) %>
  </div>

  <div class="routes">
    <%= view.users_path %>
  </div>

  <div class="translation">
    <%= view.t('hello')%>
  </div>
</div>
