<!DOCTYPE html>
<html>
<head>
  <title>DummyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="">
  I'm application layout.
</div>
<%= yield %>

</body>
</html>
