<div class="view-model">
  <div class="name">
    <%= vm.name %>
  </div>

  <div class="hardcoded">
    <%= vm.hardcoded %>
  </div>

  <div class="hi">
    <%= vm.say_hi %>
  </div>

  <div class="helper">
    <%= vm.show_date %>
  </div>

</div>
