<div class="view-model">
  <div class="name">
    <%= name %>
  </div>

  <div class="hardcoded">
    <%= hardcoded %>
  </div>

  <div class="hi">
    <%= say_hi %>
  </div>

  <div class="helper">
    <%= show_date %>
  </div>

</div>
